.layout-config-button {
    display: block;
    position: fixed;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background: var(--primary-color);
    color: var(--primary-color-text);
    text-align: center;
    top: 50%;
    right: 0;
    margin-top: -1.5rem;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    transition: background-color var(--transition-duration);
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
    box-shadow: -0.25rem 0 1rem rgba(0, 0, 0, 0.15);

    i {
        font-size: 2rem;
        line-height: inherit;
        transform: rotate(0deg);
        transition: transform 1s;
    }

    &:hover {
        background: var(--primary-400);
    }
}

.layout-config-sidebar {
    &.p-sidebar {
        .p-sidebar-content {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

.p-dialog {
    .p-dialog-header {
        padding: 1.5rem 1.25rem;
        background-color: var(--primary-color);
        color: var(--primary-color-text);

        .p-dialog-header-icon {
            color: var(--primary-color-text);
        }

        .p-dialog-header-icon:enabled:hover {
            background-color: var(--primary-300);
        }
    }

    .p-dialog-content {
        padding: 1.5rem 1.25rem;
    }

    .p-dialog-footer {
        gap: 0.5rem;
        display: flex;
        justify-content: flex-end;
        button {
            margin: 0;
        }
    }
}

.p-confirm-dialog .p-dialog-content {
    padding: 1.5rem;
}

.field {
    margin-top: 0.75rem;
    padding: 0 !important;
}

.card {
    padding: 0.75rem 1.5rem !important;
}

.require-label {
    &::after {
        position: absolute;
        font-size: 0.75rem;
        color: var(--red-400);
        margin-left: 0.25rem;
        top: 1px;
        content: "(*)";
    }
}

.p-float-label label {
    top: 1.5rem;
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
    top: -0.5rem;
    font-size: 12px;
}

.p-megamenu {
    padding: 0;
}

@media screen and (max-width: 1367px) {
    .p-megamenu-horizontal .p-megamenu-root-list {
        max-width: 30rem;
    }

    .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link {
        width: 15rem;
    }

    .p-megamenu-grid {
        flex-direction: column;
    }

    .p-megamenu-vertical .p-megamenu-root-list>.p-menuitem-active>.p-megamenu-panel {
        left: 0;
        top: 2.75rem;
    }

    .p-megamenu-panel {
        width: 100%;
    }
}

.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
}

.p-megamenu.p-megamenu-vertical {
    width: 100%;
}

.p-password,
.field .p-dropdown,
.p-inputtext {
    width: 100%;
}

fieldset {
    margin: 0;
}

.p-fieldset .p-fieldset-content {
    padding: 0;
}

.p-menuitem-link-active .p-menuitem-icon,
.p-menuitem-link-active .p-menuitem-text {
    color: var(--primary-color);
    font-weight: bold;
}

.p-dropdown {
    min-width: 12.5rem;
}

.global-loading {
    position: absolute;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0.9;
    background-color: var(--surface-d);
    backdrop-filter: blur(30px);

    i {
        font-size: 3.5rem;
    }
}

.p-megamenu-panel {
    z-index: 10000;
    position: fixed;
}

.p-overlaypanel {
    z-index: 996 !important;
}

.p-overlaypanel .p-overlaypanel-content {
    display: flex;
    flex-direction: column;
    padding: 2.25rem 1.25rem;
    .p-dropdown {
        min-width: 26rem;
    }
}

p-dropdown:not(.p-disabled).p-focus {
    display: none;
}
