$scrollSize: 6px;
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 $scrollSize rgba(0, 0, 0, 0.3) !important;
    background-color: var(--surface-100) !important;
    border-radius: $scrollSize !important;
}

::-webkit-scrollbar {
    width: $scrollSize !important;
    background-color: var(--surface-100) !important;
}

::-webkit-scrollbar-thumb {
    border-radius: $scrollSize !important;
    background-color: var(--primary-color) !important;
}

::-webkit-scrollbar:horizontal {
    height: $scrollSize !important;
    background-color: var(--surface-100) !important;
}

.layout-config-button {
    display: block;
    position: fixed;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background: var(--primary-color);
    color: var(--primary-color-text);
    text-align: center;
    top: 50%;
    right: 0;
    margin-top: -1.5rem;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    transition: background-color var(--transition-duration);
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
    box-shadow: -0.25rem 0 1rem rgba(0, 0, 0, 0.15);

    i {
        font-size: 2rem;
        line-height: inherit;
        transform: rotate(0deg);
        transition: transform 1s;
    }

    &:hover {
        background: var(--primary-400);
    }
}

.layout-config-sidebar {
    &.p-sidebar {
        .p-sidebar-content {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

.p-dialog {
    .p-dialog-header {
        padding: 1rem 1.25rem;
        background-color: var(--primary-color);
        color: var(--primary-color-text);

        .p-dialog-header-icon {
            color: var(--primary-color-text);
        }

        .p-dialog-header-icon:enabled:hover {
            background-color: var(--primary-300);
        }
    }

    .p-dialog-content {
        padding: 1.25rem;
    }

    .p-dialog-footer {
        gap: 0.5rem;
        display: flex;
        justify-content: flex-end;
        button {
            margin: 0;
        }
    }
}

.p-confirm-dialog .p-dialog-content {
    padding: 1.5rem;
}

.field {
    margin-top: 0.75rem !important;
    padding: 0 !important;
}

.card {
    padding: 0.75rem !important;
    border-radius: 0.25rem !important;
}

.require-label {
    &::after {
        position: absolute;
        font-size: 0.75rem;
        color: var(--red-400);
        margin-left: 0.25rem;
        top: 1px;
        content: "(*)";
    }
}

.p-float-label label {
    top: 1.5rem;
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
    top: -0.5rem;
    font-size: 0.75rem;
}

.p-megamenu {
    padding: 0;
}

.p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link {
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 991px) {
    .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link {
        padding: 1rem 0.5rem;
    }

    .p-button .p-button-label {
        font-size: 0.85rem;
    }
    .p-overlaypanel .p-overlaypanel-content {
        max-width: 20rem;
    }
    .p-megamenu-horizontal .p-megamenu-root-list {
        max-width: 30rem;
    }

    .p-megamenu-grid {
        flex-direction: column;
    }

    .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
        flex-grow: 1;
    }

    .p-megamenu-vertical
        .p-megamenu-root-list
        > .p-menuitem-active
        > .p-megamenu-panel {
        left: 0;
        top: 2.75rem;
    }

    .p-megamenu-root-list>.p-menuitem,
    .p-megamenu-panel {
        width: 100%;
    }
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
}

.p-megamenu.p-megamenu-vertical {
    width: 100%;
}

.p-password,
.field .p-dropdown,
.p-inputtext {
    width: 100%;
}

fieldset {
    margin: 0;
}

.p-fieldset .p-fieldset-content {
    padding: 0.25rem;
}

.p-menuitem-link-active .p-menuitem-icon,
.p-menuitem-link-active .p-menuitem-text {
    color: var(--primary-color);
    font-weight: bold;
}

.p-dropdown {
    min-width: 12.5rem;
}

.global-loading {
    top: -0.95rem;
    left: -0.95rem;
    position: absolute;
    width: 102%;
    height: 100%;
    opacity: 0.4;
    z-index: 998;
    background-color: var(--surface-d);
    backdrop-filter: blur(30px);

    i {
        font-size: 3.5rem;
    }
}

.p-megamenu-panel {
    z-index: 10000;
    position: fixed;
}

.p-overlaypanel {
    z-index: 996 !important;
}

.p-overlaypanel .p-overlaypanel-content {
    display: flex;
    flex-direction: column;
    padding: 2.25rem 1.25rem;
    .p-dropdown {
        min-width: 26rem;
    }
}

p-dropdown:not(.p-disabled).p-focus {
    display: none;
}

.p-fieldset .p-fieldset-legend {
    padding: 0.25rem;
}

.p-button.p-button-icon-only.p-button-rounded {
    width: 2.75rem;
}

.p-calendar-w-btn .p-inputtext,
.p-inputtext,
.p-button {
    height: 2.75rem;
}

.p-inputtextarea {
    height: auto;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.5rem 0.75rem;
}

.p-fieldset .p-fieldset-legend {
    color: var(--primary-color);
}

.layout-main-container {
    padding-bottom: 0 !important;
}

@media (max-width: 991px) {
    .layout-main {
        flex: none !important;
    }

    .p-dialog .p-dialog-header .p-dialog-title {
        font-size: 1rem;
    }

    p-dynamicdialog {
        .p-dialog-mask.p-component-overlay {
            .p-dialog {
                width: 90vw !important;
            }
        }
    }
}

.p-datatable > .p-datatable-wrapper {
    max-height: calc(100vh - 17.5rem);
}

.p-paginator {
    padding: 0;
}

textarea {
    resize: none;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 0.25rem 0.5rem;
}

.radio-label {
    color: #6b7280;
    top: -1.75rem;
    left: 0.75rem;
    font-size: 0.75rem;
}

.p-readonly,
.p-disabled {
    background-color: var(--surface-200);
    opacity: 0.6;
    pointer-events: none;
}

.w-full {
    .p-dropdown {
        width: 100%;
    }
}

.p-megamenu .p-submenu-list {
    width: auto;
}
