* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, .layout-menu .layout-root-menuitem>.layout-menuitem-root-text, .p-datatable .p-datatable-thead>tr>th,
.p-datepicker table th>span, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month, .p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next, .p-dialog .p-dialog-header,
.p-steps .p-steps-item .p-steps-title, .p-card .p-card-title {
    color: var(--primary-color) !important;
}

.layout-config-button:hover, .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
.p-datepicker table td>span.p-highlight,
.p-listbox .p-listbox-list .p-listbox-item.p-highlight,
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight,
.p-chips .p-chips-multiple-container .p-chips-token,
.p-steps .p-steps-item.p-highlight .p-steps-number {
    color: var(--surface-a) !important;
    background-color: var(--primary-color) !important;
}

.p-datepicker table td.p-datepicker-today>span, .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    color: var(--surface-a);
    background-color: var(--focus-ring) !important;
}

.p-checkbox .p-checkbox-box.p-highlight {
    border: 1.5px solid var(--surface-border);
}

.p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--primary-color), 0 1px 2px 0 black;
}

.p-selectbutton .p-button.p-highlight {
    box-shadow: none !important;
}

.p-chips .p-chips-multiple-container .p-chips-token .p-chips-token-icon {
    margin-top: 6px;
}

.p-chips .p-chips-multiple-container .p-chips-token {
    padding: 0.375rem 0.75rem 0.75rem 0.75rem;
}

.p-fluid .p-inputtextarea {
    resize: none !important;
}

.p-steps .p-steps-item .p-menuitem-link {
    background: transparent !important;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
