<div class="row">
  <div class="col-md-12">
    <!-- Nav tabs -->
    <tabset>
      <tab *ngFor="let item of contents">
        <ng-template tabHeading>
          <i class="icon-calendar"></i> {{item.case}}
        </ng-template>
        <span class="text-danger font-weight-bold" style="font-size: 20px;">
          {{item.title}}
        </span>
        <tabset>
          <tab *ngFor="let topic of item.content">
            <ng-template tabHeading>
              {{topic.title}}
            </ng-template>
            <div class="row">
              <div class="col-8">
                <div [innerHTML]="topic.data"></div>
              </div>
              <div class="col-4 text-right pt-2 d-flex flex-column text-right">
                <span *ngIf="!topic.audioLinkReflection" class="p-1">
                  <span class="badge badge-danger badge-pill p-1 mb-2" style="position: static;">Slow speaking</span>
                  <audio controls>
                    <source src="{{topic.audioLinkSlow}}" type="audio/mpeg">
                  </audio>
                </span>
                <span *ngIf="!topic.audioLinkReflection" class="p-1">
                  <span class="badge badge-danger badge-pill p-1 mb-2" style="position: static;">Native speaking</span>
                  <audio controls>
                    <source src="{{topic.audioLinkNative}}" type="audio/mpeg">
                  </audio>
                </span>
                <span *ngIf="topic.audioLinkReflection" class="p-1">
                  <span class="badge badge-danger badge-pill p-1 mb-2" style="position: static;">Multi Reflection</span>
                  <audio controls>
                    <source src="{{topic.audioLinkReflection}}" type="audio/mpeg">
                  </audio>
                </span>
                <button type="button" class="btn btn-info text-light p-1"
                        (click)="stopAll()">Reload all audio
                </button>
              </div>
            </div>
          </tab>
        </tabset>
      </tab>
    </tabset>
  </div><!--/.col-->
</div><!--/.row-->
