<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon-user"></i> Listen and read document &nbsp;<span class="badge badge-success">Pro</span></ng-template>
          <app-listen-read></app-listen-read>
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-layers"></i> Grammar &nbsp;<span class="badge badge-pill badge-danger">Basic</span></ng-template>
          <app-grammar></app-grammar>
        </tab>
      </tabset>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
